/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

# Linux build dir
/build-linux/
/build-mac/
/build-new/

# Local logs / scratch
qemu.log

# macOS
.DS_Store
